<html>
    <head>
        <title>Test Node App</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            .form-block {
                display: block;
                margin: 0 0 1rem 0;
            }
        </style>
        <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    </head>
    <body>
        <div id="app">
            <h1>{{message}}</h1>
            <form v-on:submit.prevent="login(email, password)">
                <div class="form-block">
                    <label for="email">Email: </label>
                    <input id="email" type="text" name="email" v-model="email">
                </div>
                <div class="form-block">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" v-model="password">
                </div>
                <button type="submit">login</button>
            </form>
            <div v-if="user">
                {{user}}
            </div>
        </div>
        <!-- script -->
        <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-firestore.js"></script>
        <script>
            var firebaseConfig = {
                apiKey: "AIzaSyADcOPqgUtGaf218bqYhNmsYhJx-XXa9wI",
                authDomain: "simplefirebaselogin-86dcc.firebaseapp.com",
                databaseURL: "https://simplefirebaselogin-86dcc.firebaseio.com",
                projectId: "simplefirebaselogin-86dcc",
                storageBucket: "",
                messagingSenderId: "632814814402",
                appId: "1:632814814402:web:2a936d9613bfdd40"
            };
            firebase.initializeApp(firebaseConfig);
        </script>
        <!-- vue -->
        <script>
            var app = new Vue({
                el: '#app',
                data () {
                    return {
                        message: 'FireBase Login authentication',
                        email: '',
                        password: '',
                        user: {}
                    }
                },
                methods: {
                    submit (email, password) {
                        if (email.length > 0 && password.length > 0) {
                            firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
                                // Handle Errors here.
                                var errorCode = error.code;
                                var errorMessage = error.message;
                                // ...
                            });
                        } else {
                            alert(`please insert data`)
                        }
                        // console.log(`Email: ${email} password: ${password}`)
                    },
                    login (email, password) {
                        firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
                                // Handle Errors here.
                                var errorCode = error.code;
                                var errorMessage = error.message;
                                // ...
                        });
                        firebase.auth().onAuthStateChanged(function(user) {
                            if (user) {
                                // User is signed in.
                                this.user = {
                                    displayName: user.displayName,
                                    email: user.email,
                                    emailVerified: user.emailVerified,
                                    photoURL: user.photoURL,
                                    isAnonymous: user.isAnonymous,
                                    uid: user.uid,
                                    providerData: user.providerData
                                }
                                console.log(this.user)
                                // ...
                            } else {
                                // User is signed out.
                                // ...
                            }
                        });
                    }
                }
            })
        </script>
    </body>
</html>